@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    text-align: center;
    font-family: 'Righteous', sans-serif;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}